/*顶部追剧*/
.trackBox {
  z-index: 2;
  width: 100%;
  height: 40px;
  color: #fff;
  overflow: hidden;
  /*遮罩层*/
  /*顶部追剧*/
}
.trackBox .cover {
  z-index: 3;
  position: absolute;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  line-height: 40px;
  background: rgba(29, 29, 33, 0.8);
  cursor: pointer;
}
.trackBox .cover .icon-o {
  display: inline-block;
  vertical-align: top;
  width: 20px;
  height: 20px;
  margin: 10px 5px 0 0;
  font-size: 0;
}
.trackBox .cover .icon-o img {
  width: 100%;
  height: 100%;
}
.trackBox .cover span {
  display: inline-block;
}
.trackBox .cover .icon-w {
  display: inline-block;
  vertical-align: top;
  margin-top: 12px;
  width: 16px;
  height: 16px;
}
.trackBox .cover .icon-w img {
  width: 100%;
  height: 100%;
  vertical-align: top;
  transform: rotate(-90deg);
}
.trackBox .track {
  position: relative;
  width: 100%;
  height: 384px;
  margin-top: -90px;
  background: radial-gradient(farthest-side at center bottom, #ff6944 0, #191413 100%) center bottom;
  background-size: 100% 150%;
  overflow: hidden;
}
.trackBox .track .modular {
  width: 100%;
  padding: 17px 0 40px 20px;
  white-space: nowrap;
  font-size: 0;
  opacity: .9;
}
.trackBox .track .modular .title {
  width: 175px;
  font-size: 20px;
  color: #fff;
  margin-left: 180px;
  margin-bottom: 7px;
  cursor: pointer;
}
.trackBox .track .modular .modular-box {
  position: relative;
  width: 175px;
  height: 245px;
  margin-right: 5px;
  display: inline-block;
  opacity: .9;
  filter: alpha(opacity=90);
  vertical-align: top;
}
.trackBox .track .modular .modular-box img {
  display: block;
  width: 100%;
  height: 100%;
}
.trackBox .track .modular .modular-box .into {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(125, 55, 39, 0.75);
  font-size: 12px;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.trackBox .track .modular .modular-box .into .into-portrait {
  display: block;
  width: 36px;
  height: 36px;
  background: url("../img/icon.png");
  margin-bottom: 10px;
}
.trackBox .track .modular .modular-box .into .log {
  display: block;
  width: 68px;
  line-height: 26px;
  margin-top: 10px;
  border-radius: 13px;
  background: linear-gradient(to right, #ff850b 0, #ff5945 100%);
  color: #fff;
}
.trackBox .track .modular .modular-box .into .log:hover {
  background: #ff6428;
}
.trackBox .track .modular .modular-item {
  position: relative;
  width: 175px;
  height: 245px;
  margin-right: 5px;
  display: inline-block;
  filter: alpha(opacity=90);
}
.trackBox .track .modular .modular-item img {
  display: block;
  width: 100%;
  height: 100%;
  transition: box-shadow 0.5s ease-out, transform 0.1s ease-in, -webkit-filter 0.5s ease-out;
}
.trackBox .track .modular .modular-item img:hover {
  -webkit-filter: saturate(1.2) contrast(1.2) brightness(1.1);
  box-shadow: 0 4px 11px rgba(255, 118, 85, 0.3);
}
.trackBox .track .modular .modular-item .icon {
  position: absolute;
  top: 5px;
  right: 5px;
}
.trackBox .track .modular .modular-item .fraction {
  position: absolute;
  bottom: 4px;
  right: 4px;
  width: 40px;
  height: 34px;
  font-size: 24px;
  line-height: 34px;
  background: rgba(17, 17, 17, 0.8);
  color: #ff6428;
  font-family: PingFangSC-Ultralight, sans-serif;
  text-align: center;
}
.trackBox .track .modular .modular-item .fraction em {
  font-style: normal;
  font-size: 14px;
  color: #ff5945;
}
.trackBox .track .modular .modular-item .name {
  color: #fff;
  font-size: 16px;
  opacity: 1;
  filter: alpha(opacity=100);
  margin: 6px 0 2px 0;
}
.trackBox .track .modular .modular-item .describe {
  font-size: 13px;
  color: #fff;
  opacity: .8;
  filter: alpha(opacity=80);
  cursor: pointer;
}
.trackBox .track .leftBtn,
.trackBox .track .rightBtn,
.trackBox .track .buttonBtn {
  position: absolute;
  opacity: .6;
  filter: alpha(opacity=60);
}
.trackBox .track .leftBtn img,
.trackBox .track .rightBtn img,
.trackBox .track .buttonBtn img {
  display: block;
  width: 36px;
  height: 36px;
  margin: 12px auto;
}
.trackBox .track .leftBtn {
  display: none;
  width: 60px;
  height: 60px;
  top: 50%;
  left: 10px;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 100%;
  margin-top: -54px;
}
.trackBox .track .rightBtn {
  display: none;
  width: 60px;
  height: 60px;
  top: 50%;
  right: 10px;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 100%;
  margin-top: -54px;
  transform: rotate(180deg);
}
.trackBox .track .leftBtn:hover,
.trackBox .track .rightBtn:hover,
.trackBox .track .buttonBtn:hover {
  opacity: 1;
  filter: alpha(opacity=100);
  transition: all .2s ease;
  cursor: pointer;
}
.trackBox .track .buttonBtn {
  width: 36px;
  height: 100px;
  bottom: -32px;
  left: 50%;
  margin-left: -45px;
  transform: rotate(90deg);
}
.height {
  height: 384px;
}
.trackBox .track .modular .modular-box.none {
  display: none;
}
.trackBox .track .modular .modular-item.none {
  display: none;
}
/*登录*/
.sign {
  z-index: 999;
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 622px;
  height: 418px;
  margin-top: -209px;
  margin-left: -311px;
  background: #fff;
  text-align: center;
}
.sign p {
  position: relative;
  width: 100%;
  height: 50px;
  line-height: 50px;
  font-size: 16px;
  color: #2a2a2a;
  border-bottom: 1px solid #e6e6e6;
  background: #f1f1f1;
  text-align: center;
}
.sign p .close {
  position: absolute;
  top: 1px;
  right: 1px;
  width: 47px;
  height: 28px;
  background: url("../img/sprite_login.png") 0 0 no-repeat;
}
.sign p .close:hover {
  background-position: -50px 0;
}
.sign .portrait {
  display: inline-block;
  width: 82px;
  height: 82px;
  margin: 60px 0 30px 0;
  background: url("../img/sprite_login.png") 0 -140px no-repeat;
}
.sign .Q {
  width: 190px;
  height: 40px;
  display: block;
  background: url("../img/sprite_login.png") 0 -280px no-repeat;
  margin: 0 auto 20px;
}
.sign .Q:hover {
  background-position: -200px -280px;
}
.sign .W {
  width: 190px;
  height: 40px;
  display: block;
  background: url("../img/sprite_login.png") 0 -230px no-repeat;
  margin: 0 auto 20px;
}
.sign .W:hover {
  background-position: -200px -230px;
}
.content {
  position: relative;
  width: 100%;
  height: 580px;
  margin-bottom: -70px;
}
.content header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 4;
  width: 100%;
}
.content header .inner {
  width: 1255px;
  margin: 0 auto;
}
.content header .inner .logo {
  float: left;
  width: 135px;
  height: 36px;
  background: url("../img/logo.svg") 0 0 no-repeat;
  margin-top: 14px;
}
.content header .inner nav {
  position: relative;
  margin: 18px 25px 0 20px;
  float: left;
  line-height: 26px;
}
.content header .inner nav a {
  float: left;
  color: #eee;
  font-size: 14px;
  padding-left: 8px;
}
.content header .inner nav .icon i {
  display: block;
  width: 16px;
  height: 16px;
  background: url("../img/icon-lie.png") no-repeat;
  margin-top: 4px;
}
.content header .inner nav .icon i.cl {
  background: url("../img/icon-l-c.png") no-repeat;
}
.content header .inner nav a:hover {
  color: #ff6428;
}
.content header .inner nav .icon i.hover:hover {
  background: url("../img/icon-l-h.png");
}
.content header .inner nav .box1,
.content header .inner nav .box2,
.content header .inner nav .box3,
.content header .inner nav .box4,
.content header .inner nav .box5,
.content header .inner nav .box6 {
  display: none;
  width: 244px;
  top: 29px;
  position: absolute;
  padding: 8px;
  background: rgba(255, 255, 255, 0.95);
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
  border-top: 2px solid #ff6428;
}
.content header .inner nav .box1 a,
.content header .inner nav .box2 a,
.content header .inner nav .box3 a,
.content header .inner nav .box4 a,
.content header .inner nav .box5 a,
.content header .inner nav .box6 a {
  width: 45%;
  padding: 0 5px;
  font-size: 14px;
  line-height: 30px;
  color: #202020;
  white-space: nowrap;
  overflow: hidden;
}
.content header .inner nav .box1 a:hover,
.content header .inner nav .box2 a:hover,
.content header .inner nav .box3 a:hover,
.content header .inner nav .box4 a:hover,
.content header .inner nav .box5 a:hover,
.content header .inner nav .box6 a:hover {
  color: #ff6428;
}
.content header .inner nav .box6 {
  margin-left: 30px;
}
.content header .inner .seek {
  position: relative;
  float: left;
  margin: 14px 0 0 35px;
  width: 450px;
  height: 40px;
}
.content header .inner .seek input {
  width: 430px;
  height: 100%;
  border-radius: 20px;
  border: none;
  color: #fff;
  font-size: 16px;
  padding-left: 20px;
  background: rgba(255, 255, 255, 0.2);
}
.content header .inner .seek button {
  position: absolute;
  top: 0;
  right: 0;
  width: 106px;
  height: 40px;
  background: linear-gradient(to right, #ff850b 0, #ff5945 100%);
  border: none;
  border-radius: 0 18px 18px 0;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}
.content header .inner .seek button i {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 2px 2px 0 0;
  vertical-align: top;
  background: url("../img/icon-sou.png");
}
.content header .inner .seek button:hover {
  background: #ff6428;
}
.content header .inner .seek .top {
  position: absolute;
  top: 11px;
  right: 112px;
  display: block;
  width: 20px;
  height: 20px;
  background: url("../img/icon-bang.png");
}
.content header .inner .sns {
  float: right;
  margin-top: 21px;
  height: 43px;
}
.content header .inner .sns .vip {
  width: 20px;
  height: 20px;
  float: left;
  margin: 0 9px;
}
.content header .inner .sns .vip i {
  display: block;
  width: 20px;
  height: 20px;
  background: url("../img/icon-vip.png");
  background-size: 100% 100%;
}
.content header .inner .sns .vip span {
  display: block;
  color: #d18825;
  opacity: .6;
}
.content header .inner .sns .vip:hover span {
  color: #e99420;
  opacity: 1;
}
.content header .inner .sns .get {
  float: left;
  margin: 0 9px;
  width: 34px;
}
.content header .inner .sns .get i {
  display: block;
  width: 20px;
  height: 20px;
  background: url("../img/icon-l.png");
  margin: auto;
  opacity: .6;
}
.content header .inner .sns .get span {
  color: #fff;
  opacity: .6;
}
.content header .inner .sns .seen {
  float: left;
  margin: 0 9px;
}
.content header .inner .sns .seen i {
  display: block;
  width: 20px;
  height: 20px;
  background: url("../img/icon-kan.png");
  opacity: .6;
  margin: auto;
}
.content header .inner .sns .seen span {
  color: #fff;
  opacity: .6;
}
.content header .inner .sns .put {
  float: left;
  margin: 0 9px;
}
.content header .inner .sns .put i {
  display: block;
  width: 20px;
  height: 20px;
  background: url("../img/icon-c.png");
  opacity: .6;
  margin: auto;
}
.content header .inner .sns .put span {
  color: #fff;
  opacity: .6;
}
.content header .inner .sns .down {
  float: left;
  margin: 0;
  width: 56px;
}
.content header .inner .sns .down i {
  display: block;
  width: 20px;
  height: 20px;
  background: url("../img/icon-k.png");
  opacity: .6;
  margin: 0 auto 2px;
}
.content header .inner .sns .down span {
  color: #fff;
  opacity: .6;
  white-space: nowrap;
}
.content header .inner .sns .home {
  float: left;
  margin: -3px 0 0 10px;
  width: 40px;
  height: 40px;
  cursor: pointer;
}
.content header .inner .sns .home img {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.content header .inner .sns div a:hover span {
  color: #fff;
  opacity: 1;
}
.content .bgNav {
  display: none;
  width: 100%;
  position: absolute;
  top: 0;
  padding-top: 50px;
  z-index: 3;
  background: radial-gradient(farthest-side at center top, #ff6944 0, #191413 100%);
  background-size: 100% 150%;
}
.content .bgNav .inner {
  width: 1275px;
  margin: 10px auto;
  font-size: 0;
}
.content .bgNav .inner .bgList {
  position: relative;
  display: inline-block;
  width: 16.66%;
  text-align: center;
}
.content .bgNav .inner .bgList span {
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  background-size: cover;
  background-position: center;
}
.content .bgNav .inner .bgList a {
  position: relative;
  display: block;
  background: #280e00;
  background-color: rgba(49, 29, 24, 0.75);
  line-height: 64px;
  color: #fff;
  font-size: 26px;
  letter-spacing: normal;
  margin: 10px;
}
.content .bgNav .inner .bgList:hover a {
  background: linear-gradient(to right, rgba(255, 133, 11, 0.9) 0, rgba(255, 89, 69, 0.9) 100%);
}
.content .bgNav .inner .bgList:nth-child(1) span {
  background-image: url("../img/bgnav/1.jpg");
}
.content .bgNav .inner .bgList:nth-child(2) span {
  background-image: url("../img/bgnav/2.jpg");
}
.content .bgNav .inner .bgList:nth-child(3) span {
  background-image: url("../img/bgnav/3.jpg");
}
.content .bgNav .inner .bgList:nth-child(4) span {
  background-image: url("../img/bgnav/4.jpg");
}
.content .bgNav .inner .bgList:nth-child(5) span {
  background-image: url("../img/bgnav/5.jpg");
}
.content .bgNav .inner .bgList:nth-child(6) span {
  background-image: url("../img/bgnav/6.jpg");
}
.content .bgNav .inner .bgList:nth-child(7) span {
  background-image: url("../img/bgnav/7.jpg");
}
.content .bgNav .inner .bgList:nth-child(8) span {
  background-image: url("../img/bgnav/8.jpg");
}
.content .bgNav .inner .bgList:nth-child(9) span {
  background-image: url("../img/bgnav/9.jpg");
}
.content .bgNav .inner .bgList:nth-child(10) span {
  background-image: url("../img/bgnav/10.jpg");
}
.content .bgNav .inner .bgList:nth-child(11) span {
  background-image: url("../img/bgnav/11.jpg");
}
.content .bgNav .inner .bgList:nth-child(12) span {
  background-image: url("../img/bgnav/12.jpg");
}
.content .bgNav .inner .bgList:nth-child(13) span {
  background-image: url("../img/bgnav/13.jpg");
}
.content .bgNav .inner .bgList:nth-child(14) span {
  background-image: url("../img/bgnav/14.jpg");
}
.content .bgNav .inner .bgList:nth-child(15) span {
  background-image: url("../img/bgnav/15.jpg");
}
.content .bgNav .inner .bgList:nth-child(16) span {
  background-image: url("../img/bgnav/16.jpg");
}
.content .bgNav .inner .bgList:nth-child(17) span {
  background-image: url("../img/bgnav/17.jpg");
}
.content .bgNav .inner .bgList:nth-child(18) span {
  background-image: url("../img/bgnav/18.jpg");
}
.content .bgNav .inner .bgList:nth-child(19) span {
  background-image: url("../img/bgnav/19.jpg");
}
.content .bgNav .inner .bgList:nth-child(20) span {
  background-image: url("../img/bgnav/20.jpg");
}
.content .bgNav .inner .bgList:nth-child(21) span {
  background-image: url("../img/bgnav/21.jpg");
}
.content .bgNav .inner .bgList:nth-child(22) span {
  background-image: url("../img/bgnav/22.jpg");
}
.content .bgNav .inner .bgList:nth-child(23) span {
  background-image: url("../img/bgnav/23.jpg");
}
.content .bgNav .inner .bgList:nth-child(24) span {
  background-image: url("../img/bgnav/24.jpg");
}
.content .bgNav .inner .bgList:nth-child(25) span {
  background-image: url("../img/bgnav/25.jpg");
}
.content .bgNav .inner .bgList:nth-child(26) span {
  background-image: url("../img/bgnav/26.jpg");
}
.content .bgNav .inner .bgList:nth-child(27) span {
  background-image: url("../img/bgnav/27.jpg");
}
.content .bgNav .inner .bgList:nth-child(28) span {
  background-image: url("../img/bgnav/28.jpg");
}
.content .bgNav .inner .bgList:nth-child(29) span {
  background-image: url("../img/bgnav/29.jpg");
}
.content .bgNav .inner .bgList:nth-child(30) span {
  background-image: url("../img/bgnav/30.jpg");
}
.content .bgNav .inner .bgList:nth-child(31) span {
  background-image: url("../img/bgnav/31.jpg");
}
.content .bgNav .inner .bgList:nth-child(32) span {
  background-image: url("../img/bgnav/32.jpg");
}
.content .k {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 90px;
  z-index: 2;
  background: linear-gradient(to top, #fff, rgba(255, 255, 255, 0.85));
}
/*轮播图*/
.container,
.wrapper,
.slide {
  width: 100%;
  height: 100%;
}
.container {
  position: relative;
  overflow: hidden;
}
.container .wrapper {
  position: absolute;
  top: 0;
  left: 0;
}
.container .wrapper .slide {
  opacity: 0;
  filter: alpha(opacity=0);
  z-index: 0;
  position: absolute;
  top: 0;
  left: 0;
  background: url("../img/banner1.jpg") center 0;
}
.container .wrapper a {
  display: block;
  width: 100%;
  height: 100%;
}
.container .wrapper .slide:nth-child(2) {
  background: url("../img/banner2.jpg") center 0;
}
.container .wrapper .slide:nth-child(3) {
  background: url("../img/banner3.jpg") center 0;
}
.container .wrapper .slide:nth-child(4) {
  background: url("../img/banner4.jpg") center 0;
}
.container .wrapper .slide:nth-child(5) {
  background: url("../img/banner5.jpg") center 0;
}
.container .wrapper .slide:nth-child(6) {
  background: url("../img/banner6.jpg") center 0;
}
.container .wrapper .slide:nth-child(7) {
  background: url("../img/banner7.jpg") center 0;
}
.container .wrapper .slide:nth-child(8) {
  background: url("../img/banner8.jpg") center 0;
}
.container .wrapper .slide:nth-child(9) {
  background: url("../img/banner9.jpg") center 0;
}
.container .wrapper .slide:nth-child(10) {
  background: url("../img/banner10.jpg") center 0;
}
.container .list {
  z-index: 2;
  position: absolute;
  top: 63px;
  right: 50%;
  margin-right: -627.5px;
  padding-top: 70px;
  width: 240px;
  height: 352px;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0.8) 17%, rgba(255, 255, 255, 0.9) 50%, rgba(255, 255, 255, 0.8) 88%, rgba(255, 255, 255, 0) 100%);
}
.container .list li {
  display: block;
  height: 54px;
  padding: 0 15px;
  margin: -24px 0;
  color: #202020;
  cursor: pointer;
}
.container .list li .tit {
  font-size: 14px;
  line-height: 28px;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.container .list li .tit:after {
  content: ':';
  padding-right: 2px;
}
.container .list li .ms {
  font-size: 14px;
  line-height: 20px;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.container .list li.cur {
  padding: 10px 15px 12px;
  margin: 0 0 24px;
  background: rgba(255, 255, 255, 0.8);
}
.container .list li.cur .tit {
  font-size: 24px;
  line-height: 34px;
  color: #ff6428;
}
.container .list li.cur .tit:after {
  content: '';
  padding-right: 0;
}
.container .list li.cur .ms {
  display: block;
  color: #666;
}
.container .list li:first-child {
  margin-top: -24px;
}
/*导航*/
.remen,
.yc,
.pd,
.hx,
.jc {
  z-index: 2;
  position: relative;
  width: 100%;
  margin-bottom: 33px;
}
.remen .rm-top,
.yc .rm-top,
.pd .rm-top,
.hx .rm-top,
.jc .rm-top {
  position: relative;
  width: 1255px;
  height: 40px;
  margin: 0 auto 14px;
}
.remen .rm-top h2,
.yc .rm-top h2,
.pd .rm-top h2,
.hx .rm-top h2,
.jc .rm-top h2 {
  display: inline-block;
  font-size: 28px;
  line-height: 40px;
  margin-right: 10px;
}
.remen .rm-top h2 .tit,
.yc .rm-top h2 .tit,
.pd .rm-top h2 .tit,
.hx .rm-top h2 .tit,
.jc .rm-top h2 .tit {
  color: #202020;
  font-weight: 500;
  padding-left: 46px;
}
.remen .rm-top h2 .tit img,
.yc .rm-top h2 .tit img,
.pd .rm-top h2 .tit img,
.hx .rm-top h2 .tit img,
.jc .rm-top h2 .tit img {
  display: inline-block;
  width: 36px;
  height: 36px;
  position: absolute;
  top: 2px;
  left: 0;
}
.remen .rm-top h2 .m,
.yc .rm-top h2 .m,
.pd .rm-top h2 .m,
.hx .rm-top h2 .m,
.jc .rm-top h2 .m {
  color: #999;
  font-size: 14px;
  margin-left: 5px;
  font-weight: 500;
  line-height: 40px;
}
.remen .rm-top .list,
.yc .rm-top .list,
.pd .rm-top .list,
.hx .rm-top .list,
.jc .rm-top .list {
  display: inline-block;
  margin-left: 10px;
  vertical-align: top;
  margin-top: 7px;
  font-size: 0;
}
.remen .rm-top .list li,
.yc .rm-top .list li,
.pd .rm-top .list li,
.hx .rm-top .list li,
.jc .rm-top .list li {
  display: inline-block;
  padding: 0 10px 0 2px;
  height: 26px;
  background: #e7e7e7;
  border-radius: 13px;
  margin-right: 20px;
}
.remen .rm-top .list li a,
.yc .rm-top .list li a,
.pd .rm-top .list li a,
.hx .rm-top .list li a,
.jc .rm-top .list li a {
  color: #202020;
  font-size: 0;
}
.remen .rm-top .list li a span img,
.yc .rm-top .list li a span img,
.pd .rm-top .list li a span img,
.hx .rm-top .list li a span img,
.jc .rm-top .list li a span img {
  display: inline-block;
  vertical-align: top;
  margin: 2px 5px 0 0;
  width: 22px;
  height: 22px;
  border-radius: 50%;
}
.remen .rm-top .list li a span:nth-child(2),
.yc .rm-top .list li a span:nth-child(2),
.pd .rm-top .list li a span:nth-child(2),
.hx .rm-top .list li a span:nth-child(2),
.jc .rm-top .list li a span:nth-child(2) {
  display: inline-block;
  font-size: 12px;
  line-height: 25px;
  max-width: 100px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.remen .rm-top .list li:hover,
.yc .rm-top .list li:hover,
.pd .rm-top .list li:hover,
.hx .rm-top .list li:hover,
.jc .rm-top .list li:hover {
  background: #ff6428;
}
.remen .rm-top .list li:hover span,
.yc .rm-top .list li:hover span,
.pd .rm-top .list li:hover span,
.hx .rm-top .list li:hover span,
.jc .rm-top .list li:hover span {
  color: #fff;
}
.remen .rm-top .right,
.yc .rm-top .right,
.pd .rm-top .right,
.hx .rm-top .right,
.jc .rm-top .right {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 14px;
  line-height: 18px;
  color: #202020;
}
.remen .rm-top .right li,
.yc .rm-top .right li,
.pd .rm-top .right li,
.hx .rm-top .right li,
.jc .rm-top .right li {
  position: relative;
  display: inline-block;
}
.remen .rm-top .right li a,
.yc .rm-top .right li a,
.pd .rm-top .right li a,
.hx .rm-top .right li a,
.jc .rm-top .right li a {
  font-size: 14px;
  line-height: 18px;
  color: #202020;
  margin-left: 26px;
}
.remen .rm-top .right li a:hover,
.yc .rm-top .right li a:hover,
.pd .rm-top .right li a:hover,
.hx .rm-top .right li a:hover,
.jc .rm-top .right li a:hover {
  color: #ff6428;
}
.remen .rm-top .right li:nth-child(1) a:before,
.yc .rm-top .right li:nth-child(1) a:before,
.pd .rm-top .right li:nth-child(1) a:before,
.hx .rm-top .right li:nth-child(1) a:before,
.jc .rm-top .right li:nth-child(1) a:before {
  content: '';
  position: absolute;
  left: 94px;
  top: 7px;
  width: 4px;
  height: 4px;
  border-radius: 100%;
  background: #afafaf;
}
.remen .rm-top .right li:nth-child(2) a:before,
.yc .rm-top .right li:nth-child(2) a:before,
.pd .rm-top .right li:nth-child(2) a:before,
.hx .rm-top .right li:nth-child(2) a:before,
.jc .rm-top .right li:nth-child(2) a:before {
  content: '';
  position: absolute;
  left: 94px;
  top: 7px;
  width: 4px;
  height: 4px;
  border-radius: 100%;
  background: #afafaf;
}
.remen .rm-top .right li:nth-child(3) a:before,
.yc .rm-top .right li:nth-child(3) a:before,
.pd .rm-top .right li:nth-child(3) a:before,
.hx .rm-top .right li:nth-child(3) a:before,
.jc .rm-top .right li:nth-child(3) a:before {
  content: '';
  position: absolute;
  left: 94px;
  top: 7px;
  width: 4px;
  height: 4px;
  border-radius: 100%;
  background: #afafaf;
}
.remen .rm-top .right li:nth-child(4) a:before,
.yc .rm-top .right li:nth-child(4) a:before,
.pd .rm-top .right li:nth-child(4) a:before,
.hx .rm-top .right li:nth-child(4) a:before,
.jc .rm-top .right li:nth-child(4) a:before {
  content: '';
  position: absolute;
  left: 79px;
  top: 3px;
  width: 1px;
  height: 12px;
  background: #afafaf;
}
.remen .rm-top .right:hover,
.yc .rm-top .right:hover,
.pd .rm-top .right:hover,
.hx .rm-top .right:hover,
.jc .rm-top .right:hover {
  color: #ff6428;
}
.remen .rm-top .tit:hover,
.yc .rm-top .tit:hover,
.pd .rm-top .tit:hover,
.hx .rm-top .tit:hover,
.jc .rm-top .tit:hover {
  color: #ff6428;
}
.remen .rm-top .m:hover,
.yc .rm-top .m:hover,
.pd .rm-top .m:hover,
.hx .rm-top .m:hover,
.jc .rm-top .m:hover {
  color: #202020;
}
.remen .rm-btm,
.yc .rm-btm,
.pd .rm-btm,
.hx .rm-btm,
.jc .rm-btm {
  width: 1260px;
  margin: 0 auto;
}
.remen .rm-btm .inner,
.yc .rm-btm .inner,
.pd .rm-btm .inner,
.hx .rm-btm .inner,
.jc .rm-btm .inner {
  width: 100%;
  overflow: hidden;
}
.remen .rm-btm .inner .modular,
.yc .rm-btm .inner .modular,
.pd .rm-btm .inner .modular,
.hx .rm-btm .inner .modular,
.jc .rm-btm .inner .modular {
  width: 100%;
  white-space: nowrap;
  font-size: 0;
  padding-bottom: 2px;
}
.remen .rm-btm .inner .modular .title,
.yc .rm-btm .inner .modular .title,
.pd .rm-btm .inner .modular .title,
.hx .rm-btm .inner .modular .title,
.jc .rm-btm .inner .modular .title {
  width: 175px;
  font-size: 20px;
  color: #fff;
  margin-left: 180px;
  margin-bottom: 7px;
  cursor: pointer;
}
.remen .rm-btm .inner .modular .modular-box,
.yc .rm-btm .inner .modular .modular-box,
.pd .rm-btm .inner .modular .modular-box,
.hx .rm-btm .inner .modular .modular-box,
.jc .rm-btm .inner .modular .modular-box {
  position: relative;
  width: 175px;
  height: 245px;
  margin-right: 5px;
  display: inline-block;
  vertical-align: top;
}
.remen .rm-btm .inner .modular .modular-box img,
.yc .rm-btm .inner .modular .modular-box img,
.pd .rm-btm .inner .modular .modular-box img,
.hx .rm-btm .inner .modular .modular-box img,
.jc .rm-btm .inner .modular .modular-box img {
  display: block;
  width: 100%;
  height: 100%;
}
.remen .rm-btm .inner .modular .modular-box .into,
.yc .rm-btm .inner .modular .modular-box .into,
.pd .rm-btm .inner .modular .modular-box .into,
.hx .rm-btm .inner .modular .modular-box .into,
.jc .rm-btm .inner .modular .modular-box .into {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(17, 17, 17, 0.8);
  font-size: 12px;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.remen .rm-btm .inner .modular .modular-box .into .into-portrait,
.yc .rm-btm .inner .modular .modular-box .into .into-portrait,
.pd .rm-btm .inner .modular .modular-box .into .into-portrait,
.hx .rm-btm .inner .modular .modular-box .into .into-portrait,
.jc .rm-btm .inner .modular .modular-box .into .into-portrait {
  display: block;
  width: 36px;
  height: 36px;
  background: url("../img/icon.png");
  margin-bottom: 10px;
}
.remen .rm-btm .inner .modular .modular-box .into .log,
.yc .rm-btm .inner .modular .modular-box .into .log,
.pd .rm-btm .inner .modular .modular-box .into .log,
.hx .rm-btm .inner .modular .modular-box .into .log,
.jc .rm-btm .inner .modular .modular-box .into .log {
  display: block;
  width: 68px;
  line-height: 26px;
  margin-top: 10px;
  border-radius: 13px;
  background: linear-gradient(to right, #ff850b 0, #ff5945 100%);
  color: #fff;
}
.remen .rm-btm .inner .modular .modular-box .into .log:hover,
.yc .rm-btm .inner .modular .modular-box .into .log:hover,
.pd .rm-btm .inner .modular .modular-box .into .log:hover,
.hx .rm-btm .inner .modular .modular-box .into .log:hover,
.jc .rm-btm .inner .modular .modular-box .into .log:hover {
  background: #ff6428;
}
.remen .rm-btm .inner .modular .modular-item,
.yc .rm-btm .inner .modular .modular-item,
.pd .rm-btm .inner .modular .modular-item,
.hx .rm-btm .inner .modular .modular-item,
.jc .rm-btm .inner .modular .modular-item {
  position: relative;
  width: 175px;
  height: 245px;
  margin-right: 5px;
  display: inline-block;
  filter: alpha(opacity=90);
}
.remen .rm-btm .inner .modular .modular-item img,
.yc .rm-btm .inner .modular .modular-item img,
.pd .rm-btm .inner .modular .modular-item img,
.hx .rm-btm .inner .modular .modular-item img,
.jc .rm-btm .inner .modular .modular-item img {
  display: block;
  width: 100%;
  height: 100%;
  transition: box-shadow 0.5s ease-out, transform 0.1s ease-in, -webkit-filter 0.5s ease-out;
}
.remen .rm-btm .inner .modular .modular-item .icon,
.yc .rm-btm .inner .modular .modular-item .icon,
.pd .rm-btm .inner .modular .modular-item .icon,
.hx .rm-btm .inner .modular .modular-item .icon,
.jc .rm-btm .inner .modular .modular-item .icon {
  position: absolute;
  top: 5px;
  right: 5px;
}
.remen .rm-btm .inner .modular .modular-item .tit,
.yc .rm-btm .inner .modular .modular-item .tit,
.pd .rm-btm .inner .modular .modular-item .tit,
.hx .rm-btm .inner .modular .modular-item .tit,
.jc .rm-btm .inner .modular .modular-item .tit {
  font-size: 12px;
  line-height: 20px;
  position: absolute;
  left: 4px;
  bottom: 4px;
  padding: 0 4px;
  color: #fff;
  background: rgba(17, 17, 17, 0.8);
}
.remen .rm-btm .inner .modular .modular-item .fraction,
.yc .rm-btm .inner .modular .modular-item .fraction,
.pd .rm-btm .inner .modular .modular-item .fraction,
.hx .rm-btm .inner .modular .modular-item .fraction,
.jc .rm-btm .inner .modular .modular-item .fraction {
  position: absolute;
  bottom: 4px;
  right: 4px;
  width: 40px;
  height: 34px;
  font-size: 24px;
  line-height: 34px;
  background: rgba(17, 17, 17, 0.8);
  color: #ff6428;
  font-family: PingFangSC-Ultralight, sans-serif;
  text-align: center;
}
.remen .rm-btm .inner .modular .modular-item .fraction em,
.yc .rm-btm .inner .modular .modular-item .fraction em,
.pd .rm-btm .inner .modular .modular-item .fraction em,
.hx .rm-btm .inner .modular .modular-item .fraction em,
.jc .rm-btm .inner .modular .modular-item .fraction em {
  font-style: normal;
  font-size: 14px;
  color: #ff5945;
}
.remen .rm-btm .inner .modular .modular-item .name,
.yc .rm-btm .inner .modular .modular-item .name,
.pd .rm-btm .inner .modular .modular-item .name,
.hx .rm-btm .inner .modular .modular-item .name,
.jc .rm-btm .inner .modular .modular-item .name {
  font-size: 14px;
  color: #202020;
  margin: 6px 0 2px 0;
  padding: 0 3px 0 5px;
}
.remen .rm-btm .inner .modular .modular-item i,
.yc .rm-btm .inner .modular .modular-item i,
.pd .rm-btm .inner .modular .modular-item i,
.hx .rm-btm .inner .modular .modular-item i,
.jc .rm-btm .inner .modular .modular-item i {
  position: absolute;
  bottom: -25px;
  right: 0;
  width: 20px;
  height: 18px;
  background: url("../img/el.png");
  background-size: 100% 100%;
  display: none;
}
.remen .rm-btm .inner .modular .modular-item .describe,
.yc .rm-btm .inner .modular .modular-item .describe,
.pd .rm-btm .inner .modular .modular-item .describe,
.hx .rm-btm .inner .modular .modular-item .describe,
.jc .rm-btm .inner .modular .modular-item .describe {
  font-size: 13px;
  line-height: 20px;
  cursor: pointer;
  margin-top: 2px;
  padding: 0 3px 0 5px;
  color: #999;
}
.remen .rm-btm .inner .modular .modular-item .item:hover .name,
.yc .rm-btm .inner .modular .modular-item .item:hover .name,
.pd .rm-btm .inner .modular .modular-item .item:hover .name,
.hx .rm-btm .inner .modular .modular-item .item:hover .name,
.jc .rm-btm .inner .modular .modular-item .item:hover .name {
  color: #ff6428;
}
.remen .rm-btm .inner .modular .modular-item .item:hover .describe,
.yc .rm-btm .inner .modular .modular-item .item:hover .describe,
.pd .rm-btm .inner .modular .modular-item .item:hover .describe,
.hx .rm-btm .inner .modular .modular-item .item:hover .describe,
.jc .rm-btm .inner .modular .modular-item .item:hover .describe {
  color: #666;
}
.remen .rm-btm .inner .modular .modular-item .item:hover i,
.yc .rm-btm .inner .modular .modular-item .item:hover i,
.pd .rm-btm .inner .modular .modular-item .item:hover i,
.hx .rm-btm .inner .modular .modular-item .item:hover i,
.jc .rm-btm .inner .modular .modular-item .item:hover i {
  display: block;
}
.remen .rm-btm .inner ul,
.yc .rm-btm .inner ul,
.pd .rm-btm .inner ul,
.hx .rm-btm .inner ul,
.jc .rm-btm .inner ul {
  white-space: nowrap;
  font-size: 0;
  padding-left: 4px;
  overflow: visible;
}
.remen .rm-btm .inner ul li,
.yc .rm-btm .inner ul li,
.pd .rm-btm .inner ul li,
.hx .rm-btm .inner ul li,
.jc .rm-btm .inner ul li {
  position: relative;
  display: inline-block;
  letter-spacing: normal;
  width: 205px;
  margin: 5px 5px 0 0;
  vertical-align: top;
  overflow: hidden;
}
.remen .rm-btm .inner ul li .img,
.yc .rm-btm .inner ul li .img,
.pd .rm-btm .inner ul li .img,
.hx .rm-btm .inner ul li .img,
.jc .rm-btm .inner ul li .img {
  position: relative;
  display: block;
  width: 100%;
  height: 137px;
  overflow: hidden;
}
.remen .rm-btm .inner ul li .img img,
.yc .rm-btm .inner ul li .img img,
.pd .rm-btm .inner ul li .img img,
.hx .rm-btm .inner ul li .img img,
.jc .rm-btm .inner ul li .img img {
  height: 137px;
  width: 244px;
}
.remen .rm-btm .inner ul li .img .zc,
.yc .rm-btm .inner ul li .img .zc,
.pd .rm-btm .inner ul li .img .zc,
.hx .rm-btm .inner ul li .img .zc,
.jc .rm-btm .inner ul li .img .zc {
  position: absolute;
  top: 6px;
  left: 6px;
  width: 14px;
  height: 18px;
  background: url("../img/cunter/mark_quickplay.svg") 0 0 no-repeat;
}
.remen .rm-btm .inner ul li .img .huo,
.yc .rm-btm .inner ul li .img .huo,
.pd .rm-btm .inner ul li .img .huo,
.hx .rm-btm .inner ul li .img .huo,
.jc .rm-btm .inner ul li .img .huo {
  position: absolute;
  left: 4px;
  bottom: 4px;
  padding: 0 4px;
  background: rgba(17, 17, 17, 0.8);
  font-size: 12px;
  color: #fff;
  line-height: 20px;
}
.remen .rm-btm .inner ul li .img .huo em,
.yc .rm-btm .inner ul li .img .huo em,
.pd .rm-btm .inner ul li .img .huo em,
.hx .rm-btm .inner ul li .img .huo em,
.jc .rm-btm .inner ul li .img .huo em {
  display: inline-block;
  vertical-align: -2px;
  background: url("../img/cunter/huo.png") no-repeat;
  margin-right: 2px;
  width: 16px;
  height: 16px;
}
.remen .rm-btm .inner ul li .img .xm-icon,
.yc .rm-btm .inner ul li .img .xm-icon,
.pd .rm-btm .inner ul li .img .xm-icon,
.hx .rm-btm .inner ul li .img .xm-icon,
.jc .rm-btm .inner ul li .img .xm-icon {
  position: absolute;
  left: 15px;
  bottom: -1px;
  width: 40px;
  height: 40px;
  border-radius: 100%;
}
.remen .rm-btm .inner ul li .img .xm-icon img,
.yc .rm-btm .inner ul li .img .xm-icon img,
.pd .rm-btm .inner ul li .img .xm-icon img,
.hx .rm-btm .inner ul li .img .xm-icon img,
.jc .rm-btm .inner ul li .img .xm-icon img {
  width: 100%;
  height: 100%;
  margin-left: 0;
  border-radius: 50%;
}
.remen .rm-btm .inner ul li .img .p,
.yc .rm-btm .inner ul li .img .p,
.pd .rm-btm .inner ul li .img .p,
.hx .rm-btm .inner ul li .img .p,
.jc .rm-btm .inner ul li .img .p {
  font-size: 13px;
  width: 80px;
  position: absolute;
  bottom: 1px;
  left: 65px;
  color: #fff;
  line-height: 26px;
}
.remen .rm-btm .inner ul li .img .tit,
.yc .rm-btm .inner ul li .img .tit,
.pd .rm-btm .inner ul li .img .tit,
.hx .rm-btm .inner ul li .img .tit,
.jc .rm-btm .inner ul li .img .tit {
  font-size: 12px;
  line-height: 20px;
  position: absolute;
  left: 4px;
  bottom: 4px;
  padding: 0 4px;
  color: #fff;
  background: rgba(17, 17, 17, 0.8);
}
.remen .rm-btm .inner ul li .img2,
.yc .rm-btm .inner ul li .img2,
.pd .rm-btm .inner ul li .img2,
.hx .rm-btm .inner ul li .img2,
.jc .rm-btm .inner ul li .img2 {
  width: 205px;
  height: 111px;
}
.remen .rm-btm .inner ul li .img2 img,
.yc .rm-btm .inner ul li .img2 img,
.pd .rm-btm .inner ul li .img2 img,
.hx .rm-btm .inner ul li .img2 img,
.jc .rm-btm .inner ul li .img2 img {
  width: 100%;
  height: 100%;
}
.remen .rm-btm .inner ul li .ms,
.yc .rm-btm .inner ul li .ms,
.pd .rm-btm .inner ul li .ms,
.hx .rm-btm .inner ul li .ms,
.jc .rm-btm .inner ul li .ms {
  position: relative;
  margin-bottom: 7px;
  padding: 6px 50px 4px 4px;
  background: #f4f4f4;
  border-bottom: 2px solid #f4f4f4;
  height: 44px;
  font-size: 400px;
  overflow: hidden;
}
.remen .rm-btm .inner ul li .ms a,
.yc .rm-btm .inner ul li .ms a,
.pd .rm-btm .inner ul li .ms a,
.hx .rm-btm .inner ul li .ms a,
.jc .rm-btm .inner ul li .ms a {
  position: absolute;
  white-space: normal;
  text-overflow: ellipsis;
  font-size: 15px;
  padding: 0 50px 0 5px;
  max-height: 44px;
  color: #202020;
  line-height: 22px;
}
.remen .rm-btm .inner ul li .ms a span,
.yc .rm-btm .inner ul li .ms a span,
.pd .rm-btm .inner ul li .ms a span,
.hx .rm-btm .inner ul li .ms a span,
.jc .rm-btm .inner ul li .ms a span {
  display: inline-block;
  position: absolute;
  top: 4px;
  right: 14px;
  width: 36px;
  height: 36px;
  background: url("../img/cunter/bfq.png") no-repeat;
}
.remen .rm-btm .inner ul li .xs,
.yc .rm-btm .inner ul li .xs,
.pd .rm-btm .inner ul li .xs,
.hx .rm-btm .inner ul li .xs,
.jc .rm-btm .inner ul li .xs {
  overflow: hidden;
  color: #202020;
  font-size: 15px;
  padding: 0 16px 0 5px;
  max-height: 44px;
  line-height: 22px;
  letter-spacing: normal;
  -webkit-line-clamp: 2;
  white-space: normal;
  margin-top: 6px;
}
.remen .rm-btm .inner ul li .imghove,
.yc .rm-btm .inner ul li .imghove,
.pd .rm-btm .inner ul li .imghove,
.hx .rm-btm .inner ul li .imghove,
.jc .rm-btm .inner ul li .imghove {
  position: absolute;
  left: -25px;
  top: 0;
  width: 230px;
  height: 137px;
  display: none;
  overflow: hidden;
}
.remen .rm-btm .inner ul li .imghove img,
.yc .rm-btm .inner ul li .imghove img,
.pd .rm-btm .inner ul li .imghove img,
.hx .rm-btm .inner ul li .imghove img,
.jc .rm-btm .inner ul li .imghove img {
  position: absolute;
  width: 736px;
  height: 409px;
}
.remen .rm-btm .inner ul li .describe,
.yc .rm-btm .inner ul li .describe,
.pd .rm-btm .inner ul li .describe,
.hx .rm-btm .inner ul li .describe,
.jc .rm-btm .inner ul li .describe {
  font-size: 13px;
  line-height: 20px;
  cursor: pointer;
  margin-top: 2px;
  padding: 0 3px 0 5px;
  color: #999;
}
.remen .rm-btm .inner ul li:hover .ms a,
.yc .rm-btm .inner ul li:hover .ms a,
.pd .rm-btm .inner ul li:hover .ms a,
.hx .rm-btm .inner ul li:hover .ms a,
.jc .rm-btm .inner ul li:hover .ms a {
  color: #ff6428;
}
.remen .rm-btm .inner ul li:hover .ms a span,
.yc .rm-btm .inner ul li:hover .ms a span,
.pd .rm-btm .inner ul li:hover .ms a span,
.hx .rm-btm .inner ul li:hover .ms a span,
.jc .rm-btm .inner ul li:hover .ms a span {
  background: url("../img/cunter/bfq-h.png");
}
.remen .rm-btm .inner ul li:hover .xs,
.yc .rm-btm .inner ul li:hover .xs,
.pd .rm-btm .inner ul li:hover .xs,
.hx .rm-btm .inner ul li:hover .xs,
.jc .rm-btm .inner ul li:hover .xs {
  color: #ff6428;
}
.remen .rm-btm .inner ul li:hover .describe,
.yc .rm-btm .inner ul li:hover .describe,
.pd .rm-btm .inner ul li:hover .describe,
.hx .rm-btm .inner ul li:hover .describe,
.jc .rm-btm .inner ul li:hover .describe {
  color: #666;
}
.remen .rm-btm .inner .rm-leftBtn,
.yc .rm-btm .inner .rm-leftBtn,
.pd .rm-btm .inner .rm-leftBtn,
.hx .rm-btm .inner .rm-leftBtn,
.jc .rm-btm .inner .rm-leftBtn,
.remen .rm-btm .inner .yc-l,
.yc .rm-btm .inner .yc-l,
.pd .rm-btm .inner .yc-l,
.hx .rm-btm .inner .yc-l,
.jc .rm-btm .inner .yc-l,
.remen .rm-btm .inner .pd-l,
.yc .rm-btm .inner .pd-l,
.pd .rm-btm .inner .pd-l,
.hx .rm-btm .inner .pd-l,
.jc .rm-btm .inner .pd-l {
  position: absolute;
  display: none;
  height: 137px;
  width: 36px;
  top: 58px;
  left: 4px;
}
.remen .rm-btm .inner .rm-leftBtn img,
.yc .rm-btm .inner .rm-leftBtn img,
.pd .rm-btm .inner .rm-leftBtn img,
.hx .rm-btm .inner .rm-leftBtn img,
.jc .rm-btm .inner .rm-leftBtn img,
.remen .rm-btm .inner .yc-l img,
.yc .rm-btm .inner .yc-l img,
.pd .rm-btm .inner .yc-l img,
.hx .rm-btm .inner .yc-l img,
.jc .rm-btm .inner .yc-l img,
.remen .rm-btm .inner .pd-l img,
.yc .rm-btm .inner .pd-l img,
.pd .rm-btm .inner .pd-l img,
.hx .rm-btm .inner .pd-l img,
.jc .rm-btm .inner .pd-l img {
  width: 36px;
  height: 36px;
  margin: 50.5px auto;
}
.remen .rm-btm .inner .rm-rightBtn,
.yc .rm-btm .inner .rm-rightBtn,
.pd .rm-btm .inner .rm-rightBtn,
.hx .rm-btm .inner .rm-rightBtn,
.jc .rm-btm .inner .rm-rightBtn,
.remen .rm-btm .inner .yc-r,
.yc .rm-btm .inner .yc-r,
.pd .rm-btm .inner .yc-r,
.hx .rm-btm .inner .yc-r,
.jc .rm-btm .inner .yc-r,
.remen .rm-btm .inner .pd-r,
.yc .rm-btm .inner .pd-r,
.pd .rm-btm .inner .pd-r,
.hx .rm-btm .inner .pd-r,
.jc .rm-btm .inner .pd-r {
  position: absolute;
  display: none;
  height: 137px;
  width: 36px;
  top: 58px;
  right: 4px;
}
.remen .rm-btm .inner .rm-rightBtn img,
.yc .rm-btm .inner .rm-rightBtn img,
.pd .rm-btm .inner .rm-rightBtn img,
.hx .rm-btm .inner .rm-rightBtn img,
.jc .rm-btm .inner .rm-rightBtn img,
.remen .rm-btm .inner .yc-r img,
.yc .rm-btm .inner .yc-r img,
.pd .rm-btm .inner .yc-r img,
.hx .rm-btm .inner .yc-r img,
.jc .rm-btm .inner .yc-r img,
.remen .rm-btm .inner .pd-r img,
.yc .rm-btm .inner .pd-r img,
.pd .rm-btm .inner .pd-r img,
.hx .rm-btm .inner .pd-r img,
.jc .rm-btm .inner .pd-r img {
  width: 36px;
  height: 36px;
  margin: 50.5px auto;
  transform: rotate(180deg);
}
.remen .rm-btm .inner .yc-l,
.yc .rm-btm .inner .yc-l,
.pd .rm-btm .inner .yc-l,
.hx .rm-btm .inner .yc-l,
.jc .rm-btm .inner .yc-l {
  height: 111px;
}
.remen .rm-btm .inner .yc-l img,
.yc .rm-btm .inner .yc-l img,
.pd .rm-btm .inner .yc-l img,
.hx .rm-btm .inner .yc-l img,
.jc .rm-btm .inner .yc-l img {
  margin-top: 34.5px;
}
.remen .rm-btm .inner .yc-r,
.yc .rm-btm .inner .yc-r,
.pd .rm-btm .inner .yc-r,
.hx .rm-btm .inner .yc-r,
.jc .rm-btm .inner .yc-r {
  height: 111px;
}
.remen .rm-btm .inner .yc-r img,
.yc .rm-btm .inner .yc-r img,
.pd .rm-btm .inner .yc-r img,
.hx .rm-btm .inner .yc-r img,
.jc .rm-btm .inner .yc-r img {
  margin-top: 34.5px;
}
.remen .rm-btm .inner .pd-l,
.yc .rm-btm .inner .pd-l,
.pd .rm-btm .inner .pd-l,
.hx .rm-btm .inner .pd-l,
.jc .rm-btm .inner .pd-l {
  top: 54px;
  height: 245px;
}
.remen .rm-btm .inner .pd-l img,
.yc .rm-btm .inner .pd-l img,
.pd .rm-btm .inner .pd-l img,
.hx .rm-btm .inner .pd-l img,
.jc .rm-btm .inner .pd-l img {
  margin-top: 96.5px;
}
.remen .rm-btm .inner .pd-r,
.yc .rm-btm .inner .pd-r,
.pd .rm-btm .inner .pd-r,
.hx .rm-btm .inner .pd-r,
.jc .rm-btm .inner .pd-r {
  top: 54px;
  height: 245px;
}
.remen .rm-btm .inner .pd-r img,
.yc .rm-btm .inner .pd-r img,
.pd .rm-btm .inner .pd-r img,
.hx .rm-btm .inner .pd-r img,
.jc .rm-btm .inner .pd-r img {
  margin-top: 96.5px;
}
.remen .rm-btm .inner .rm-leftBtn:hover,
.yc .rm-btm .inner .rm-leftBtn:hover,
.pd .rm-btm .inner .rm-leftBtn:hover,
.hx .rm-btm .inner .rm-leftBtn:hover,
.jc .rm-btm .inner .rm-leftBtn:hover,
.remen .rm-btm .inner .yc-l:hover,
.yc .rm-btm .inner .yc-l:hover,
.pd .rm-btm .inner .yc-l:hover,
.hx .rm-btm .inner .yc-l:hover,
.jc .rm-btm .inner .yc-l:hover,
.remen .rm-btm .inner .pd-l:hover,
.yc .rm-btm .inner .pd-l:hover,
.pd .rm-btm .inner .pd-l:hover,
.hx .rm-btm .inner .pd-l:hover,
.jc .rm-btm .inner .pd-l:hover {
  background: rgba(238, 238, 238, 0.6);
}
.remen .rm-btm .inner .rm-rightBtn:hover,
.yc .rm-btm .inner .rm-rightBtn:hover,
.pd .rm-btm .inner .rm-rightBtn:hover,
.hx .rm-btm .inner .rm-rightBtn:hover,
.jc .rm-btm .inner .rm-rightBtn:hover,
.remen .rm-btm .inner .yc-r:hover,
.yc .rm-btm .inner .yc-r:hover,
.pd .rm-btm .inner .yc-r:hover,
.hx .rm-btm .inner .yc-r:hover,
.jc .rm-btm .inner .yc-r:hover,
.remen .rm-btm .inner .pd-r:hover,
.yc .rm-btm .inner .pd-r:hover,
.pd .rm-btm .inner .pd-r:hover,
.hx .rm-btm .inner .pd-r:hover,
.jc .rm-btm .inner .pd-r:hover {
  background: rgba(238, 238, 238, 0.6);
}
/*单人*/
.dr {
  width: 1260px;
  margin: 0 auto 50px;
  padding-top: 20px;
}
.dr ul {
  display: flex;
}
.dr ul li {
  position: relative;
  display: flex;
  flex: 1;
  margin-left: 2px;
  width: 239px;
  height: 83px;
  overflow: hidden;
}
.dr ul li img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 83px;
}
.dr ul li .ren {
  position: absolute;
  top: 0;
  left: 0;
  width: 105px;
  height: 98px;
  display: block;
}
.dr ul li:hover {
  overflow: visible;
}
.dr ul li:hover .ren {
  top: -15px;
}
/*广告*/
.gg {
  position: relative;
  overflow: hidden;
  width: 1240px;
  margin: 10px auto 33px;
}
.gg a {
  position: absolute;
  width: 960px;
  height: 90px;
  left: 0;
  top: 0;
  background: #fff;
}
.gg a img {
  width: 105%;
}
.gg div {
  width: 220px;
  float: right;
  height: 90px;
}
.gg div img {
  width: 100%;
  height: 100%;
}
/*底部*/
.foot {
  border-top: 1px solid #ddd;
  width: 100%;
  margin-top: 60px;
}
.foot .cot {
  width: 1240px;
  margin: 40px auto 10px;
}
.foot .cot .top {
  padding: 20px 20px 20px 70px;
  overflow: hidden;
}
.foot .cot .top div {
  float: left;
  width: 320px;
  height: 70px;
  padding-right: 40px;
  border-right: 1px solid #ddd;
}
.foot .cot .top div p {
  padding-bottom: 5px;
  color: #979797;
  font-size: 14px;
}
.foot .cot .top div ul li {
  display: inline-block;
  padding-top: 6px;
  margin-right: 17px;
}
.foot .cot .top div ul li a {
  font-size: 12px;
  color: #666;
}
.foot .cot .top div ul li:hover a {
  color: #ff7800;
}
.foot .cot .top div:nth-child(2) {
  width: 160px;
  margin-left: 40px;
}
.foot .cot .top div:nth-child(3) {
  width: 245px;
  margin-left: 40px;
}
.foot .cot .top div:nth-child(4) {
  margin-left: 40px;
  width: 140px;
  padding-right: 0;
  border-right: none;
}
.foot .cot .bot {
  line-height: 30px;
  padding: 25px 0;
  text-align: center;
  color: #838383;
}
.foot .cot .bot div ul li {
  display: inline-block;
}
.foot .cot .bot div a {
  color: #838383;
}
.foot .cot .bot div a:hover {
  color: #ff7800;
}
